@model lab_4_ASP_NET_ProductionSystem_NET_Framework.Models.Production_machine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Production_machine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipe_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe_Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
